[Unit]
Description=RNS-E Crankshaft CAN Features
Requires=can-handler.service 
After=can-handler.service 
BindsTo=can-handler.service 

[Service] 
ExecStart=/usr/bin/python3 /home/pi/RNS-E-Pi-Control/crankshaft_can_features.py 
WorkingDirectory=/home/pi/RNS-E-Pi-Control
User=pi 
Group=pi 
Restart=on-failure 
RestartSec=5 

[Install]
WantedBy=multi-user.target
