[Unit] 
Description=RNS-E CAN-Bus Keyboard Simulation (uinput)
Requires=can-handler.service 
After=can-handler.service 
BindsTo=can-handler.service 

[Service]
ExecStart=/usr/bin/python3 /home/pi/RNS-E-Pi-Control/can_keyboard_control.py 
WorkingDirectory=/home/pi/RNS-E-Pi-Control
Restart=on-failure 
RestartSec=3 
User=pi 
Group=input 

[Install]
WantedBy=multi-user.target
